*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box ;
}


.padre{
   /* border: 3px solid black; */
    width: 600px;
    height: 500px;
}

.caja1{
    font-size: 2rem;
    background-color: red;
    width: 50vmax;
   /* height: 100vh; */
}